# Variáveis de Ambiente

# Supabase
SUPABASE_URL=https://jaczaqqdtgyeczacppoi.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImphY3phcXFkdGd5ZWN6YWNwcG9pIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDMwMTc1MDIsImV4cCI6MjA1ODU5MzUwMn0.zSxJ6HT9Gv3rbTDuoXlx_HiLB4HCpdVdXd9zXi0ySxE


# Mercado Pago
MERCADOPAGO_ACCESS_TOKEN=TEST-6119343612748678-012817-796089becd94000a5a266cd8c30f11e8-78929697
MERCADOPAGO_PUBLIC_KEY=TEST-c1310ecb-4248-4c47-91bc-5dda4b91a794



# Banco de Dados
# Para Supabase (produção)
#DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.jaczaqqdtgyeczacppoi.supabase.co:5432/postgres

# Para banco local (desenvolvimento)
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/ticketmetal



